.form {
  display: flex;
  align-items: center;
  max-width: 400px;
  background-color: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
}

.button {
  display: inline-block;
  width: 80px;
  height: 40px;
  border: none;
  background-color: #67139b;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #8e46bc;
}

.input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 10px;
}

.input::placeholder {
  font-size: 14px;
  color: #888;
}